{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <style>
        {# CSS #}
    </style>

    <div class="wrapper">
        <h1>Bienvenue sur the Checklist</h1>

        <p>Veuillez vous connecter<br>
            <a href="{{ path('app_login') }}">Page Login</a>
        </p>
    </div>
{% endblock %}
