{% extends 'base.html.twig' %}

{% block title %}Hello PonderatorController!{% endblock %}

{% block body %}

<div class="table-stats order-table ov-h">
    <table class="table ">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Couleur</th>
                <th>Coefficient</th>
                <th>Tâches actuelles</th>
                <th>Tâches associés</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ponderator in ponderators %}

                <tr>
                    <td>{{ ponderator.name }}</td>
                    <td>bientôt</td>
                    <td>{{ ponderator.coefficient }}</td>
                    <td>bientôt</td>
                    <td>bientôt</td>
                    <td>bientôt</td>
                    <td>
                        <a href="{{ path('pond_edit', {'id' : ponderator.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-lightbulb-o"></i>&nbsp; Éditer</a>
                        <a class="fa fa-times" href='{{ path('pond_delete', {'id' : ponderator.id}) }}'></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
